* {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../img/greenback.jpeg");
}

nav.navbar.navbar-expand-lg.navbar-light.bg-white {
    background-image: linear-gradient(rgb(253, 220, 53), rgb(254, 237, 154));
}

div.card-body {
    text-align: center;

    background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%), radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%), radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%), radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%), radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%), linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
}

p.small.white-text.card-para {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: normal;

}


html,
body {
    height: 100%;
}



.wrapper {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    margin: 0 auto;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    transform: translate(-50%, -50%) skew(10deg) rotate(-10deg);
    font-size: 20vw;
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    color: rgba(#ff9eb1, 0.5);
    text-shadow: 1px 4px 6px $bg, 0 0 0 #66303a, 1px 4px 6px $bg;
    white-space: nowrap;
}

    &:before {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        top: -4.8%;
        overflow: hidden;
        width: 100%;
        height: 50%;
        color: #fbf7f4;
        transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
        z-index: 2;
        text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.2);
    }

    :after {
        content: attr(data-heading);
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 1;
        color: #d3cfcc;
        transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
        text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
    }